*, *::before, *::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: #eee;
	font-family: 'PT Sans Narrow', sans-serif;
   font-size: 18px;
	color: #444;
}

.wrap {
	position: relative;
	display: flex;
	max-width: 1300px;
	margin: auto;
}

.nowrap {
	white-space: nowrap;
}

.left-bar {
	min-height: 100vh;
	min-width: 310px;
	padding: 40px 20px;
	background-color: #0c3747;
	color: #eee;
}

.avatar {
	text-align: center;
}

.photo {
	width: 180px;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 50%;
	border: 6px solid #0a546f;
}

.name {
	font-size: 28px;
}

.title {
	position: relative;
	padding-left: 50px;
	margin: 40px 25px 30px 0;
	background-color: #eee;
	line-height: 30px;
	color: #0c3747;
	font-size: 22px;
	white-space: nowrap;
}

.title::before {
	content: '';
	position: absolute;
	bottom: -18px;
	left: 0;
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 10px solid #eee;
}

.title::after {
	content: '';
	position: absolute;
	top: 0;
	right: -30px;
	width: 0;
	height: 0;
	border-top: 30px solid #eee;
	border-right: 30px solid transparent;
}

.title__icon::after {
	content: '';
	position: absolute;
	top: 14px;
	left: 0;
	width: 50px;
	height: 34px;
	padding: 0 4px 0 12px;
	background: #0c3747 url('img/sprite-title.png') center no-repeat;
	background-size: cover;
	background-origin: content-box;
	z-index: 2;
}

.block-data {
	position: relative;
	max-width: 280px;
	margin: auto;
}

.block-data::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0px;
	width: 40px;
	height: 30px;
	padding: 0 5px;
	background: #eee url('img/sprite-title.png') 0 0 no-repeat;
	background-size: cover;
	background-origin: content-box;
	z-index: 1;
}

.block-data:last-child::before {
	background-position: 0 -30px;
}

.data-table {
	font-size: 16px;
	border-collapse: collapse;
}

.data-table td {
	padding: 10px 0 5px;
}

.first-column {
	font-weight: bold;
	width: 150px;
}

.data-table a {
	text-decoration: none;
	color: inherit;
}
.data-table a:hover {
	text-decoration: underline;
}

.content {
	min-width: 320px;
	margin: 0 10px 100px 50px;
}

.content__section {
	position: relative;
}

.content__title {
	position: relative;
	padding-left: 60px;
	margin: 40px 40px 30px 0;
	background-color: #0c3747;
	line-height: 40px;
	font-size: 22px;
	color: #eee;
	white-space: nowrap;
	z-index: 1;
}

.content__title::before {
	content: '';
	position: absolute;
	bottom: -18px;
	left: 0;
	width: 0px;
	height: 0px;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 10px solid #0c3747;
}

.content__title::after {
	content: '';
	position: absolute;
	top: 0;
	right: -40px;
	width: 0;
	height: 0;
	border-top: 40px solid #0c3747;
	border-right: 40px solid transparent;
}

.about-me__text {
	font-size: 19px;
}

.skills::after {
	padding: 0 8px 0 8px;
	background-position: 0 -102px;
}
.skills__lists {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.skills__list {
	list-style: none;
	font-size: 20px;
}

.skills__item {
	position: relative;
	width: 300px;
	padding-left: 35px;
	margin-bottom: 5px;
	line-height: 34px;
	font-size: 24px;
}

.skills__item::before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
	width: 25px;
	height: 25px;
	background: url('img/sprite-skills.png') 0 0 no-repeat;
	background-size: cover;
}

.css::before {
	background-position: 0 -25px;
}
.js::before {
	background-position: 0 -50px;
}
.php::before {
	background-position: 0 -75px;
}
.mysql::before {
	background-position: 0 -100px;
}

.skills__item::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 135px;
	width: 140px;
	height: 14px;
	padding-right: 50px;
	transform: translateY(-50%);
	border: 1px solid #0c3747;
	background: #0a546f;
	background-clip: content-box;
}

.html::after {
	padding-right: 20px;
}
.css::after {
	padding-right: 33px;
}
.js::after {
	padding-right: 40px;
}
.php::after {
	padding-right: 110px;
}
.mysql::after {
	padding-right: 100px;
}

.portfolio::after {
	padding: 0 8px 0 8px;
	background-position: 0 -136px;
}

.portfolio__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
}

.portfolio__item {
	max-width: 400px;
	margin: 5px 5px 20px;
}

.portfolio__screen-wrap {
	width: 100%;
	border: 2px solid #0a546f;
	padding: 5px;
	margin-bottom: 10px;
	font-size: 0;
	overflow: hidden;
}

.portfolio__screen {
	width: 100%;
	transition: 2s;
}

.portfolio__screen:hover {
	transform: scale(1.05);
}

.portfolio__note {
	font-style: italic;
}

.footer {
	position: absolute;
	bottom: 20px;
	right: 50px;
}

@media screen and (max-width: 975px) {
	.content {
		margin-left: 30px;
	}
	.about-me__text {
		font-size: 17px;
	}
}

@media screen and (max-width: 730px) {
	.wrap {
		flex-wrap: wrap;
	}
	.left-bar {
		min-height: auto;
		min-width: auto;
		width: 100%;
		margin: auto;
	}
	.content {
		margin-left: 0;
		margin-right: 0;
		min-width: auto;
	}
	.about-me .content__title {
		margin-top: 0;
		box-shadow: 5px -5px 5px #111;
	}
	.about-me .content__title::after {
		box-shadow: 5px -5px 5px #111;
	}
	.about-me__text {
		padding-left: 10px;
		padding-right: 5px;
		font-size: 16px;
	}
}