@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('blocks/page-header.css');
@import url('blocks/about.css');
@import url('blocks/our-team.css');
@import url('blocks/page-services.css');
@import url('blocks/our-clients.css');

* {
	//outline: 1px dashed red;
}

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

.nobr {
	white-space: nowrap;
}