.page-services {
	padding: 100px 50px;
	margin: auto;
	text-align: center;
	color: #222;
}

.page-services__title {
	color: #222;
}

.page-services__text {
	padding-top: 30px;
	max-width: 1150px;
	color: #6c6c6c;
	margin: auto;
	font-style: italic;
	line-height: 24px;
}

.services {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
	padding: 80px 0 30px;
}

.services__item {
	padding: 15px;
}

.services__item::before {
	content: '';
	display: block;
	margin: auto;
	width: 55px;
	height: 55px;
	background: url('../../img/sprite.png') top 30px left 30px no-repeat;
	border: 5px solid #fcac45;
	border-radius: 50%;
	padding: 30px;
}

.services__item:nth-of-type(2)::before {
	background-position: 40px -84px;
}

.services__item:nth-of-type(3)::before {
	background-position: 30px -200px;
}

.services__item:last-of-type::before {
	background-position: 30px -312px;
}

.services__title {
	font-size: 25px;
	text-transform: uppercase;
	margin: 25px 0 10px;
}

.services__text {
	max-width: 270px;
	font-size: 14px;
	margin: 0;
	text-align: left;
}

.services__version {
	margin: 0;
	color: #6c6c6c;
	font-size: 12px;
	text-align: left;
}

@media screen and (max-width: 430px) {
	.page-services {
		padding: 50px 20px;
	}
	.page-services__text {
		font-size: 14px;
		text-align: left;
		text-indent: 15px;
		padding-top: 10px;
	}
	.services {
		padding-top: 50px;
	}

	.services__title {
		font-size: 22px;
		margin: 15px 0;
	}
	.services__item {
		padding-left: 0;
		padding-right: 0;
	}

}