* {
	/*outline: 1px dashed orange;*/
	margin: 0;
	text-decoration: none;
	color: #000;
	word-wrap: break-word;
}

*:focus {
	outline: 3px dashed darkorange;
}

body {
	background-color: #dbdbdb;
	font-family: Cambria, Georgia, serif;
}

.wrapper {
	box-sizing: border-box;
	width: 100%;
	max-width: 1035px;
	margin: auto;
	padding: 8px 20px;
}

.button {
	background: url(img/button.png) center no-repeat;
	background-size: cover; 
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
	border: none;
}
.button:hover {
	transition: 0.3s;
	filter: hue-rotate(25deg);
}
.button:active {
	transition: 0s;
	box-shadow: inset 5px 5px 5px rgba(100,100,100,0.7),
				inset -5px -5px 5px rgba(100,100,100,0.7);
}
.button__text {
	word-wrap: break-word;
	font-family: Cambria, Georgia, serif;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: -0.3px;
	line-height: 19px;
	color: #fff;
	text-shadow: 2px 0 #000, -2px 0 #000, 0 1px 1px #000, 0 -1px 1px #000;
}

.title {
	font-weight: bold;
	text-align: center;
	text-shadow: 3px 0 2px #fff, -3px 0 2px #fff, 0 2px 2px #fff, 0 -2px 2px #fff;
	color: #E31E27;
}

/*=========== main-page ===========*/
.main-page {
	/*background: url(img/bg-car.jpg) center 220px no-repeat, url(img/bg-line.png) 0 220px repeat-x;*/
}
.main-page__title::before {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	left: 0;
	width: 100%;
	height: 440px;
	background: url(img/bg-car.jpg) center no-repeat, url(img/bg-line.png) repeat-x;
}
.main-page::after {
	content: '';
	display: block;
	width: 100%;
	height: 82px;
	opacity: 0.4;
	background: url(img/separate-line.png) repeat-x;
}
.main-page__header {
	display: flex;
	justify-content: space-between;
}
.main-page__title {
	margin: 55px 5px 90px;
	font-size: 43px;
}

/*=========== main-page > header > logo-section ===========*/
.logo-section {
	text-align: center;
	min-width: 220px;
	max-width: 340px;
	margin-right: 10px;
	margin-bottom: 30px;
}
.logo-section__logo-img {
	width: 100%;
	max-height: 165px;
}
.logo-section__logo-text {
	box-sizing: border-box;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	padding-top: 5px;
}
/*=========== main-page > header > contacts ===========*/
.contacts {
	max-width: 270px;
	width: 100%;
}
.contacts__call-text {
	font-size: 24px;
	text-transform: uppercase;
	padding-bottom: 3px;
}
.contacts__phone {
	display: block;
	word-wrap: break-word;
	font-size: 30px;
	letter-spacing: 1.3px;
}
.contacts__opening-hours {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.contacts__location {
	font-size: 23px;
	font-weight: bold;
	line-height: 25px;
	letter-spacing: -0.5px;
}
.contacts__location:last-of-type {
	padding-bottom: 20px;
}
.contacts__button {
	width: 100%;
	max-width: 267px;
	padding: 16px 7px;
	text-transform: uppercase;
}
/*=========== main-page > middle-section ===========*/
.middle-section {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	margin-bottom: 20px;
}

.middle-section__auto-labels {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	align-content: flex-end;
	max-width: 540px;
	width: 100%;
}

.middle-section__car-item {
	margin: 5px;
	margin-top: 35px;
	filter: drop-shadow(5px 5px 5px black);
	background: url('img/marks.png') 0 0 no-repeat;
	background-size: auto;
	max-width: 187px;
	max-height: 86px;
	width: 187px;
	height: 86px;
}

.middle-section__car-item:nth-of-type(2) {
	background-position: 0 -86px;
	width: 89px;
}
.middle-section__car-item:nth-of-type(3) {
	background-position: 0 calc(-86px * 2);
	width: 85px;
}
.middle-section__car-item:nth-of-type(4) {
	background-position: 0 calc(-86px * 3);
	width: 86px;
}
.middle-section__car-item:nth-of-type(5) {
	background-position: 0 calc(-86px * 4);
	width: 89px;
}
.middle-section__car-item:nth-of-type(6) {
	background-position: 0 calc(-86px * 5);
	width: 88px;
}
.middle-section__car-item:nth-of-type(7) {
	background-position: 0 calc(-86px * 6);
	width: 108px;
}
.middle-section__car-item:nth-of-type(8) {
	background-position: 0 calc(-86px * 7);
	width: 94px;
}
.middle-section__car-item:nth-of-type(9) {
	background-position: 0 calc(-86px * 8);
	width: 114px;
}
.middle-section__car-item:nth-of-type(10) {
	background-position: 0 calc(-86px * 9);
	width: 106px;
}
.middle-section__car-item:nth-of-type(11) {
	background-position: 0 calc(-86px * 10);
	width: 116px;
}
.middle-section__car-item:nth-of-type(12) {
	background-position: 0 calc(-86px * 11);
	width: 115px;
}
/*=========== main-page > middle-section > form-cb ===========*/
.form-cb {
	text-align: center;
	max-width: 455px;
	min-width: 280px;
}

.form-cb__title {
	font-size: 34px;
	margin-bottom: 6px;
}

.form-cb__fieldset {
	border: 3px solid rgba(230,77,82, 0.7);
	background-color: rgba(244,244,244,0.7);
	padding: 5px 10px;
}

.form-cb__text {
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
}

.form-cb__input,
.form-cb__textarea {
	border: 3px solid #a9a9a9;
	padding: 7px;
	font-size: 18px;
	box-sizing: border-box;
}

.form-cb__textarea {
	width: 100%;
	height: 125px;
}

.form-cb__costomer-contacts {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 30px ;
	margin-bottom: 37px;
}

.form-cb__label {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.form-cb__input {
	max-width: 205px;
}

.form-cb__button {
	min-height: 53px;
	padding: 5px 10px;
}

.form-cb__btn-text {
	font-size: 20px;
	margin: 0 10px;
}

.form-cb-notice {
	font-size: 14px;
}
/*=========== media ===========*/
@media screen and (max-width: 550px) {
	/*.main-page {
		background-size: 250%;
		background-position: center 450px;
	}*/
	.header {
		flex-wrap: wrap;
		justify-content: center;
	}
	.header__logo-section {
		margin-right: 0;
	}
	.main-page__title {
		font-size: 37px;
	}
}

@media screen and (max-width: 490px) {
	.main-page__title {
		font-size: 34px;
	}
	.form-cb__title {
		font-size: 24px;
	}
}