.auth {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 400px;
   height: auto;
   width: 100%;
   padding: 20px;
   z-index: 7;
   background: #fff;
   transition: height .3s;
}

.auth__close-button {
   right: -25px;
   top: -25px;
   background-color: #00aedb;
}

 .auth__choose {
   display: flex;
   align-items: center;
}

.auth__sign-in,
.auth__sign-up {
   flex-grow: 1;
   min-width: 90px;
   transition: flex-grow .2s;
}
.auth__sign-up.button {
   background-color: #8cc63f;
   outline-color: #ACE674;
}

.auth__active.button {
   flex-grow: 5;
   cursor: default;
   filter: brightness(1.2);
}

.auth__input {
	margin-top: 5px;
}
.auth__firstname {
	margin-right: 10px;
}

.form-sign-in,
.form-sign-up {
   display: none;
}

.form-sign-in__keepme {
   display: inline-block;
   margin-top: 15px;
   font-size: 14px;
   line-height: 21px;
   cursor: pointer;
}

.form-sign-in__keepme input {
   height: 18px;
   width: 18px;
   vertical-align: middle;
   cursor: pointer;
}

.auth__button {
   margin-top: 30px;
   width: 100%;
}

.forgot-password {
   margin-top: 10px;
   text-align: center;
}

.forgot-password__link {
   text-decoration: none;
   font-size: 14px;
   color: inherit;
}

.forgot-password__link:hover,
.forgot-password__link:focus {
   outline: none;
   text-decoration: underline;
   color: #00aedb;
}

.form-sign-up *:focus {
   outline-color: #ACE674;
}

.form-sign-up__full-name {
   display: flex;
}

.form-sign-up__button.button {
   background-color: #8cc63f;
}
.input-wrap {
   position: relative;
   font-size: 14px;
}
.input-wrap:after {
   content: '?';
   position: absolute;
   top: 29px;
   right: 10px;
   display: block;
   width: 18px;
   height: 18px; 
   border-radius: 50%;
   background-color: rgba(0, 0, 0, 0.2);
   text-align: center;
   color: #fff;
   font-size: 14px;
   line-height: 18px;
}

.input-invalid:after {
   content: '\2716';
   background-color: #f00;
}

.input-valid:after {
   content: '\2714';
   background-color: #00D961;
}
.input-text-error {
	display: block;
	margin-top: 3px;
	margin-bottom: -3px;
	color: #f00;
}
.wrap-password {
   position: relative;
}
.show-pass {
   position: absolute;
   top: 26px;
   right: 10px;
   width: 25px;
   height: 25px;
   cursor: pointer;
   opacity: .6;
   background: transparent url(../img/eye-open.svg) no-repeat;
   background-size: contain;
}
.show-pass:hover {
   opacity: 1;
}
.form-sign-up__show-pass {
   right: 35px;
}

.hidePass {
   background-image: url(../img/eye-close.svg);
}
.notice-message {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 50px 20px 0;
   background-color: #f77;
   text-align: center;
   color: #fff;
   font-size: 20px;
   z-index: 100;
}
.notice-close {
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   background-color: #EC5656;
}

@media screen and (max-width: 620px) {
   .auth__close-button {
      right: 20px;
      top: -30px;
   }
   .notice-close {
      right: 10px;
   }
}