/* ============== top-line ============== */
.top-line {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   flex-wrap: wrap;
   margin-bottom: 22px;
}
/* logo */
.top-line__logo-link {
   margin-right: 10px;
   max-height: 64px;
   max-width: 250px;
   font-size: 0;
}

.logo-img {
   width: 100%;
}
/* ====================== */

/* search-form */
.search-form {
   display: flex;
   max-width: 440px;
   flex-grow: 1;
   margin-top: 10px;
}

.sign-in__button {
   margin-top: 10px;
   margin-left: 5px;
}
/* ====================== */

/* ===== AUTHENTICATION ===== */
.auth {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 400px;
   height: auto;
   width: 100%;
   padding: 20px;
   z-index: 7;
   background: #fff;
   transition: height .3s;
}

.auth__close-button {
   position: absolute;
   right: -25px;
   top: -25px;
   width: 40px;
   height: 40px;
   background-color: #00aedb;
   border: none;
   cursor: pointer;
}
.auth__close-button:hover {
   filter: brightness(1.2);
}
.auth__close-button:before, 
.auth__close-button:after {
   content: '';
   position: absolute;
   background: #fff;
   width: 15%;
   height: 70%;
}
.auth__close-button:before {
   transform: translate(-50%, -50%) rotate(45deg);
 } 
 .auth__close-button:after {
   transform: translate(-50%, -50%) rotate(-45deg);
 }

 .auth__choose {
   display: flex;
   align-items: center;
}

.auth__sign-in,
.auth__sign-up {
   flex-grow: 1;
   min-width: 90px;
   transition: flex-grow .2s;
}
.auth__sign-up.button {
   background-color: #8cc63f;
   outline-color: #ACE674;
}

.auth__active {
   flex-grow: 5;
   cursor: auto;
}

.auth__input {
   margin-top: 20px;
   margin-right: 10px;
}

.form-sign-in,
.form-sign-up {
   display: none;
}

.form-sign-in__keepme {
   display: block;
   margin-top: 15px;
   font-size: 14px;
   line-height: 21px;
   cursor: pointer;
}

.form-sign-in__keepme input {
   height: 18px;
   width: 18px;
   vertical-align: middle;
   cursor: pointer;
}

.auth__button {
   margin-top: 30px;
   width: 100%;
}

.forgot-password {
   margin-top: 10px;
   text-align: center;
}

.forgot-password__link {
   text-decoration: none;
   font-size: 14px;
   color: inherit;
}

.forgot-password__link:hover,
.forgot-password__link:focus {
   outline: none;
   text-decoration: underline;
   color: #00aedb;
}

.form-sign-up *:focus {
   outline-color: #ACE674;
}

.form-sign-up__full-name {
   display: flex;
   margin-right: -10px;
}

.form-sign-up__button.button {
   background-color: #8cc63f;
}
/* ====================== */

 /* ===== ACCOUNT ===== */
.account {
   position: relative;
   width: 50px;
   height: 50px;
   margin-top: 10px;
}

.account__button {
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.account__button {
   background: none;
   outline: none;
   border: 2px solid #00aedb;
   cursor: pointer;
}

.account__button svg {
   width: 90px;
   height: 90px;
   transform: translateX(-20px);
}

.account__menu {
   position: absolute;
   top: 60px;
   right: 0;
   min-width: 230px;
   z-index: 3;
   display: none;
   padding-bottom: 5px;
   list-style: none;
   background-color: #00aedb;
}

.account__menu::before {
   content: '';
   position: absolute;
   top: 0px;
   right: 10px;
   z-index: -1;
   width: 12px;
   height: 12px;
   background-color: inherit;
   transform: translateX(-50%) rotate(45deg);
   transform-origin: top right;
}

.account__icon-svg {
   vertical-align: middle;
   margin-right: 5px;
   fill: #fff;
}

.account__link {
   display: block;
   padding: 15px 15px;
   text-decoration: none;
   color: #fff;
   white-space: nowrap;
   font-size: 14px;
}

.account__username {
   font-weight: bold;
   line-height: 24px;
}

/* social-icons */
/* .social-icons {
   flex-shrink: 0;
   margin-top: 10px;
   margin-left: 5px;
   font-size: 0;
   line-height: 0;
}

.social-icons__item {
   display: inline-block;
   background: url('../img/social.png') 0 0 no-repeat;
   background-color: #f78f1d;
   width: 38px;
   height: 36px;
   margin-left: 5px;
}
.social-icons__item:hover {
   filter: brightness(1.2);
}

.social-icons__fb {
   background-position: center 0;
   background-color: #5261ac;
}

.social-icons__tw {
   background-position: right 0;
   background-color: #00aedb;
} */
/* ====================== */

/* ====== MAIN-MENU ====== */
.main-menu {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
}

.main-menu__item {
   flex-grow: 1;
   text-align: center;
   background-color: #00aedb;
}

.main-menu__link {
   display: block;
   height: 36px;
   padding: 10px 12px;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 19px;
   line-height: 18px;
   font-weight: bold;
   color: #fff;
   white-space: nowrap;
}

@media screen and (max-width: 750px) {
   .search-form {
      order: 1;
      max-width: 100%;
      min-width: 100%;
   }
}

@media screen and (max-width: 420px) {
   .top-line {
      /* justify-content: center; */
   }
   .search-form__button {
      min-width: auto;
      padding: 0 7px;
   }
}