.main {
   position: relative;
   display: flex;
   margin-top: 20px;
}

.post {
   position: relative;
   margin-bottom: 35px;
}

.post::before {
   content: '18';
   position: absolute;
   top: 5px;
   left: -80px;
   width: 68px;
   height: 46px;
   background-color: #f78f1d;
   font-size: 36px;
   font-weight: bold;
   color: #fff;
   line-height: 46px;
   text-align: center;
   transition: left .2s;
}
.post:first-child::before {
   content: '20';
}

.post::after {
   content: 'jun';
   position: absolute;
   top: 51px;
   left: -74px;
   width: 62px;
   height: 27px;
   background-color: #00aedb;
   text-transform: uppercase;
   font-size: 20px;
   font-weight: bold;
   color: #fff;
   text-align: center;
   transition: left .3s;
}

.post__title {
   font-size: 38px;
   font-weight: bold;
}

.post__text {
   font-size: 16px;
   margin: 5px 0 15px;
}

.post__footer {
   position: relative;
   width: 100%;
   font-size: 17px;
   color: #6a6666;
   padding: 10px;
   padding-right: 120px;
}

.post__link {
   white-space: nowrap;
   text-decoration: none;
   color: inherit;
}

.post__category {
   margin-right: 20px;
}

.post__comments {
   position: relative;
   margin-left: 30px;
}

.post__comments:before {
   position: absolute;
   top: 3px;
   left: -30px;
   content: '';
   width: 17px;
   height: 17px;
   background: url('../img/social.png') left bottom no-repeat;
}

.post__read-more {
   position: absolute;
   top: 10px;
   right: 10px;
}

.gallery {
   padding: 12px;
   border: 1px solid rgba(0, 0, 0, .25);
   text-align: center;
}

.gallery__current-img {
   max-width: 100%;
   max-height: 500px;
}

.gallery__list {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
}

.gallery__item {
   border: 1px solid rgba(0, 0, 0, .25);
   padding: 3px;
   margin-top: 10px;
   margin-right: 5px;
}

.gallery__wrap-img {
   position: relative;
   overflow: hidden;
   height: 100%;
}

.gallery__item:hover {
   background-color: #00aedb;
}

.gallery__small-img {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   height: 100%;
   cursor: pointer;
   transition: opacity .2s;
}
.gallery__small-img:hover {
   opacity: .9;
}

@media screen and (max-width: 1190px) {
   .post::before {
      left: -20px;
   }
   .post::after {
      left: -14px;
   }
   .post__title {
      margin-left: 60px;
      font-size: 34px;
   }
}

@media screen and (max-width: 1000px) {
   .content {
      margin-right: 20px;
   }
}

@media screen and (max-width: 620px) {
   .post__title {
      font-size: 28px;
   }
   .post__text {
      padding-left: 5px;
      padding-right: 5px;
   }
   .post::before {
      left: 0;
      width: 46px;
      height: 30px;
      font-size: 26px;
      line-height: 30px;
   }
   .post::after {
      top: 35px;
      left: 6px;
      width: 40px;
      height: 22px;
      font-size: 16px;
      line-height: 22px;
   }
}