.sidebar {
   position: relative;
   /* outline: 2px solid red; */
   max-width: 350px;
   min-width: 350px;
   padding-left: 20px;
   transition: min-width .3s;
   transform-origin: right top;
   /* border-image: linear-gradient(to top, #ec098d, #ec098d 20%, #5261ac 20%, #5261ac 40%, #8cc63f 40%, #8cc63f 60%, #00aedb 60%, #00aedb 80%, #f78f1d 80%) 0 0 0 150 repeat;
   border-width: 0 0 0 13px;
	border-style: solid; */
}

.button-sidebar {
   content:'«';
   position: absolute;
   width: 35px;
   top: -36px;
   left: -20px;
   display: none;
   font-size: 60px;
   line-height: 0;
}
.button-sidebar::before {
   content:'«';
   position: absolute;
   top: 18px;
   left: 3px;
}
.back-arrow.button-sidebar::before {
   content:'»';
}

.last-stories__title {
   display: inline-block;
   position: relative;
   z-index: 2;
   max-width: 292px;
   width: auto;
   margin-bottom: 4px;
   white-space: nowrap;
   font-size: 19px;
}

.last-stories__title::after {
   content: '';
   position: absolute;
   right: -36px;
   z-index: -1;
   border-right: 36px solid transparent;
   border-bottom: 36px solid #5261ac;
}

.last-stories__menu {
   display: flex;
   list-style: none;
   height: 36px;
   line-height: 36px;
   text-align: center;
   text-transform: uppercase;
}

.last-stories__category {
   position: relative;
   z-index: 1;
   width: 33.33%;
   height: 100%;
   min-width: 50px;
   padding: 0 10px;
   background-color: #f78f1d;
   transition: 0.3s;
   transition-property: flex-shrink, width;
   text-transform: uppercase;
   font-size: 19px;
   font-weight: bold;
   color: #fff;
   white-space: nowrap;
   cursor: pointer;
}
.last-stories__category:focus {
   outline: none;
   filter: brightness(1.2);
}

.last-stories__category:hover {
   flex-shrink: 0;
   width: 50%;
}

.active-category::after {
   content: '';
   position: absolute;
   bottom: 0px;
   left: 50%;
   z-index: -1;
   width: 12px;
   height: 12px;
   background-color: inherit;
   transform: translateX(-50%) rotate(45deg);
   transform-origin: bottom left;
}

.last-stories__list {
   display: none;
   list-style: none;
}

.topic__cinema {
   display: block;
}

.last-stories__item {
   display: flex;
   align-content: flex-start;
   padding: 15px 0;
   border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.last-stories__item:last-child {
   border: none;
}

.last-stories__img {
   box-sizing: initial;
   padding: 3px;
   width: 75px;
   max-height: 150px;
   border: 1px solid rgba(0, 0, 0, .3);
}

.last-stories__right-block {
   margin-left: 10px;
   margin-right: 5px;
}

.last-stories__story-title {
   margin-bottom: 7px;
   font-size: 15px;
   line-height: 20px;
   color: #00aedb;
}

.last-stories__text {
   font-size: 13px;
   line-height: 16px;
}

.bottom-line {
   display: flex;
   justify-content: space-between;
   position: relative;
   margin-top: 5px;
   font-size: 11px;
   font-weight: lighter;
   text-align: right;
}

.bottom-line__count-comments {
   margin-left: 20px;
   text-align: left;
}
.bottom-line__count-comments::before {
   content: '';
   position: absolute;
   left: 0;
   width: 15px;
   height: 15px;
   background: url('../img/comments.svg') no-repeat;
   background-size: contain;
}

.forYou__title {
   margin-top: 15px;
}

.forYou__list {
   list-style: none;
}

.forYou__item {
   display: flex;
   align-items: flex-start;
   padding: 15px 0;
}

.forYou__img {
   padding: 3px;
   width: 75px;
   border: 1px solid rgba(0, 0, 0, .3);
}
.forYou__right-block {
   margin-left: 10px;
   margin-right: 5px;
}

.forYou__text {
   font-size: 14px;
   margin: 5px 0;
}

.forYou__link {
   font-size: 14px;
   color: #00aedb;
}
.archives__title {
   margin-top: 20px;
}

.archives__list {
   list-style: none;
}

.archives__item {
   margin-left: 25px;
   padding: 10px 0 5px;
   border-bottom: 1px solid rgba(0, 0, 0, .3);  
}
.archives__item:hover {
   text-decoration: underline;
}
.archives__item:last-child {
   border-bottom: none;
}
.archives__item:hover .archives__link::before {
   border-width: 6px;
   left: -18px;
   transition: left .3s;
}

.archives__link {
   position: relative;
   text-decoration: none;
   font-size: 14px;
   color: inherit;
}

.archives__link::before {
   position: absolute;
   top: 5px;
   left: -23px;
   content: '';
   border: 5px solid #5261ac;
   border-bottom-color: transparent;
   border-left-color: transparent;
   transform: rotate(45deg);
   transition: left .3s;
}

.tag-cloud__title {
   margin-top: 20px;
}

.tag-cloud__block {
   padding-left: 10px;
   padding-top: 15px;
}

.tag-cloud__item {
   letter-spacing: 0px;
   line-height: 28px;
   font-size: 18px;
   color: #5261ac;
   cursor: pointer;
}

.tag-cloud__item:hover {
   text-decoration: underline;
}

@media screen and (max-width: 1000px) {
   .sidebar {
      position: absolute;
      z-index: 4;
      right: 0;
      min-height: 101%;
      min-width: 13px;
      width: 0;
      padding-left: 0;
      padding-bottom: 20px;
      margin-top: 36px;
      background: #fff url(../img/decorate-lines.png) repeat-y;
   }
   .sidebar__wrap {
      display: none;
      margin-top: -36px;
   }
   .button-sidebar {
      display: block;
   }
}

.sidebar-show {
   min-width: 350px;
   padding-left: 20px;
}

@media screen and (max-width: 450px) {
   .sidebar-show {
      min-width: 100%;
      max-width: 100%;
   }
   .button-sidebar {
      top: -51px;
      left: auto;
      right: 0;
   }
}