@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('bg-lines.css');
@import url('header.css');
@import url('top-stories.css');
@import url('main.css');
@import url('sidebar.css');

*, *::before, *::after {
   /* outline: 2px dashed red; */
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
*:focus {
   outline: 2px dashed orange;
   outline-offset: -2px;
}

body {
   background-color: #ebebeb;
   font-family: "Open Sans", sans-serif;
   font-size: 19px;
   color: #494949;
}

.wrapper {
   /* box-sizing: content-box; */
   position: relative;
   max-width: 1054px;
   height: 300vh;
   margin: 0 auto 75px;
   background-color: rgba(255, 255, 255, .7);
   padding: 25px;
   border-image: linear-gradient(to right, #ec098d, #ec098d 20%, #5261ac 20%, #5261ac 40%, #8cc63f 40%, #8cc63f 60%, #00aedb 60%, #00aedb 80%, #f78f1d 80%) 0 0 25 repeat;
	border-width: 0 0 5px;
	border-style: solid;
}

.wrapper::before {
   content: '';
   position: absolute;
   top: 0;
   right: -13px;
   width: 13px;
   height: 100%;
   background: url(../img/decorate-lines.png) repeat-y;
}

.animate__hover-shift {
   position: relative;
   z-index: 1;
   overflow: hidden;
}
.animate__hover-shift::after {
   position: absolute;
   content: '';
   width: 100%;
   height: 100%;
   top: 0;
   left: -100%;
   z-index: -1;
   background-color: inherit;
   filter: invert(1);
   transition: left .3s;
}
.animate__hover-shift:hover::after {
   left: 0;
}