@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('bg-lines.css');
@import url('header.css');
@import url('top-stories.css');
@import url('main.css');
@import url('sidebar.css');

*, *::before, *::after {
   /* outline: 2px dashed red; */
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
*:focus {
   outline: 2px solid #58ddff;
   outline-offset: -2px;
}

body {
   background-color: #ebebeb;
   font-family: "Open Sans", sans-serif;
   font-size: 19px;
   color: #515151;
   overflow-x: hidden;
}

.wrapper {
   position: relative;
   max-width: 1054px;
   margin: 0 auto;
   background-color: rgba(255, 255, 255, .7);
   padding: 25px;
   border-image: linear-gradient(to right, #ec098d, #ec098d 20%, #5261ac 20%, #5261ac 40%, #8cc63f 40%, #8cc63f 60%, #00aedb 60%, #00aedb 80%, #f78f1d 80%) 0 0 25 repeat;
	border-width: 0 0 5px;
	border-style: solid;
}

.wrapper::after {
   content: '';
   position: absolute;
   top: 0;
   right: -13px;
   width: 13px;
   height: 100%;
   background: url(../img/decorate-lines.png) repeat-y;
   z-index: -8;
}

.animate__hover-shift {
   position: relative;
   z-index: 1;
   overflow: hidden;
}
.animate__hover-shift::after {
   position: absolute;
   content: '';
   width: 100%;
   height: 100%;
   top: 0;
   left: -100%;
   z-index: -1;
   background-color: inherit;
   filter: invert(1);
   transition: left .3s;
}
.animate__hover-shift:hover::after {
   left: 0;
}

.button {
   height: 50px;
   background-color: #00aedb;
   outline: none;
   border: none;
   cursor: pointer;
   z-index: 200;
   opacity: .6;
   transition: all .3s;
   font-size: 60px;
   text-align: center;
   color: #fff;
}

.button:focus {
   opacity: 1;
   animation-name: opacityShow;
   animation-delay: 1s;
   animation-duration: 2s;
   animation-timing-function: linear;
   animation-direction: reverse;
   animation-fill-mode: forwards;
}

.button:hover {
   opacity: 1;
   animation-fill-mode: backwards;
}

.button-to-up {
   position: fixed;
   bottom: 20px;
   right: 50px;
   width: 50px;
   transform-origin: bottom;
}

.button-to-up::before {
   position: absolute;
   top: 21px;
   left: 17px;
   display: block;
   content: '';
   width: 16px;
   height: 16px;
   border: 5px solid #fff;
   border-right: none;
   border-bottom: none;
   transform: rotate(45deg);
}

.createdBy {
   text-align: center;
   line-height: 75px;
}

.createdBy__link {
   text-decoration: none;
   color: inherit;
}

.createdBy__link:hover {
   text-decoration: underline;
   color: #00aedb;
}

@media screen and (max-width: 620px) {
   .wrapper {
      padding-left: 0;
      padding-right: 0;
   }
}

@media screen and (max-width: 1000px) {
   .wrapper {
      padding: 25px 0;
   }
   .wrapper::after {
      display: none;
   }
}

@keyframes opacityShow {0% { opacity: .6 } 100% { opacity: 1 }}