.top-stories {
   display: flex;
   position: relative;
   margin-top: 40px;
}

.top-stories::before {
   position: absolute;
   content: 'Top stories';
   top: -30px;
   text-transform: uppercase;
   font-size: 21px;
   font-weight: bold;
   color: #00aedb;
}

.top-stories__item {
   display: block;
   position: relative;
   padding: 5px;
   width: 100%;
}

.top-stories__item:first-child::before {
   content: '';
   position: absolute;
   border: 14px solid transparent;
   border-right-color: #00aedb;
   border-left: 0;
   top: 202px;
   left: -18px;
}

.top-stories__item:last-child::before {
   content: '';
   position: absolute;
   border: 14px solid transparent;
   border-left-color: #ec098d;
   border-right: 0;
   top: 202px;
   right: -18px;
}

.top-stories__link {
   display: block;
   overflow: hidden;
   width: 100%;
}

.top-stories__img {
   width: 100%;
}

.top-stories__link-topic {
   text-decoration: none;
}

.top-stories__topic {
   position: relative;
   width: 100%;
   height: 36px;
   margin-top: 3px;
   text-transform: uppercase;
   font-weight: bold;
   color: white;
   background-color: #00aedb;
   padding: 8px 30px;
   overflow: hidden;
   transition: .5s;
   transform-origin: right;
}
.top-stories__topic:hover {
   background-color: #007796;
   /* transform: scaleX(0); */
}

.top-stories__topic::before {
   content: '';
   position: absolute;
   border: 8px solid transparent;
   border-left-color: #fff;
   top: 10px;
   left: 10px;
   transition: .2s;
}

.top-stories__topic:hover::before {
   border-width: 10px;
   top: 8px;
   left: 14px;
}

.top-stories__topic::after {
   position: absolute;
   content: attr(data-title);
   width: 100%;
   height: 36px;
   padding: 8px 30px;
   top: 0;
   left: -100%;
   background-color: inherit;
   color: #fff;
   transition: .5s;
}
.top-stories__topic:hover::after {
   left: 0;
   /* transform: scaleX(1); */
}

.top-stories__item:nth-child(2) .top-stories__topic {
   background-color: #f78f1d;
}

.top-stories__item:last-child .top-stories__topic {
   background-color: #ec098d;
}

.top-stories__text {
   margin-top: 10px;
   font-size: 15px;
   font-weight: bold;
}

/* @media screen and (max-width: 990px) {
   .top-stories__img {
   }
}

@media screen and (max-width: 800px) {
   .top-stories__item:last-of-type {
      display: none;
   }
}

@media screen and (max-width: 550px) {
   .top-stories__item:nth-of-type(2) {
      display: none;
   }
   .top-stories__link {
      height: auto;
      max-height: 230px;
   }
} */