/* title */
.top-stories__title {
   text-transform: uppercase;
   font-size: 21px;
   line-height: 40px;
   font-weight: bold;
   color: #00aedb;
}

.slider {
   position: relative;
}

.slider__btn {
   position: absolute;
   z-index: 100;
   top: 0px;
   width: 30px;
   height: 190px;
   background: none;
   border: none;
   cursor: pointer;
   transition: background .2s;
}
.slider__btn:hover {
   background-color: rgba(255,255,255,.5);
}
.slider__btn::before {
   position: absolute;
   top: 85px;
   content: '';
   border: 20px solid transparent;
   opacity: 0;
   transition: opacity .2s;
}

.slider:hover .slider__btn::before {
   opacity: .7;
}
.slider .slider__btn:hover::before {
   opacity: 1;
}

.slider__btn-prev {
   left: 0px;
   
}
.slider__btn-prev::before {
   border-right-color: #00aedb;
   border-left: none;
   left: 5px;
}

.slider__btn-next {
   right: 0px;
}
.slider__btn-next::before {
   border-left-color: #ec098d;
   border-right: none;
   right: 5px;
}

.slider__list {
   display: flex;
   overflow: hidden;
   list-style: none;
}

.slider__item {
   box-sizing: content-box;
   width: 315px;
   padding: 0 5px;
}

.slider__link {
   text-decoration: none;
}

.slider__wrap-img {
   max-height: 190px;
   overflow: hidden;
}

.slider__img {
   width: 315px;
}

.slider__topic {
   overflow: hidden;
   position: relative;
   width: 100%;
   height: 36px;
   margin-top: 3px;
   padding: 0 30px;
   line-height: 36px;
   background-color: #00aedb;
   text-transform: uppercase;
   font-weight: bold;
   color: white;
}

.slider__item:nth-child(2) .slider__topic {
   background-color: #f78f1d;
}

.slider__item:nth-child(3) .slider__topic {
   background-color: #ec098d;
}

.slider__topic::before {
   content: '';
   position: absolute;
   border: 8px solid transparent;
   border-left-color: #fff;
   top: 10px;
   left: 10px;
}

.slider__text {
   margin-top: 10px;
   font-size: 15px;
   font-weight: bold;
}


/* @media screen and (max-width: 990px) {
   .top-stories__img {
   }
}

@media screen and (max-width: 800px) {
   .top-stories__item:last-of-type {
      display: none;
   }
}

@media screen and (max-width: 550px) {
   .top-stories__item:nth-of-type(2) {
      display: none;
   }
   .top-stories__link {
      height: auto;
      max-height: 230px;
   }
} */